body{
    background-image: url("file:///C:/Users/Miss%20Gracious/Pictures/bgi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.container{
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    width: 350px;
    padding:0 15px 0 15px;
    flex-direction: column;
    margin-left: 25em;
    }
    span{
        color: #fff;
        font-size: 25px;

    }
    .title{
        font-size: 30px;
        padding: 10px 0 10px 0;
        color: #fff;
        justify-content: center;
        display: flex;
        
    }
    .login{
        font-size: 25px;
        color: #fff;
        text-decoration: none;
        
    }
    .login:hover{
        text-decoration: underline;
    }
    .input{
        height: 45px;
        width: 85%;
        border: none;
        font-size: 15px;
        outline: none;
        border-radius: 30px;
        color: black;
        font-weight: bold;
        padding: 0 0 0 45px;
        background: rgba(255,255,255,0.1);
        margin-bottom: 10px;
        display: flex;

    }
    .input:hover{
        box-shadow: 1px 5px 7px 1px rgba(0,0,0.2);
    }
    i{
        position: relative;
        top: -33px;
        left: 17px;
        color: #000;
    }
    
    .gender-title{
        font-size: 25px;
        color: #fff;
        display: flex;
        padding: 10px 0 10px 0;
        justify-content: center;
    }
    
    .label{
        display: flex;
        align-items: center;
        

    }
    .gender{
        justify-content: space-between;
        font-weight: bold;
        border-radius: 50%;

    }
    .genders{
        font-size: 20px;
        margin-left: 85px;
    }
    .button{
        border: none;
        border-radius: 30px;
        font-size: 20px;
        height: 45px;
        outline: none;
        width: 100%;
        background-color: rgba(255,255,255,0.7);
        cursor: pointer;
        transition: .3s;
        margin-top: 10px;
    }
    .button:hover{
        box-shadow: 1px 5px 7px 1px rgba(0,0,0.2);
        text-decoration: underline;
    }
    
    .button input{
        height: 100%;
        width: 100%;
        outline: none;
        color: #000;
        border: none;
        font-weight: bold;
        border-radius: 5px;
        letter-spacing: 1px;
        font-size: 18px;
        background: #fff ;
    }
    .button input:hover{
        cursor: pointer;
        text-decoration: underline;
    }
    .button input:active{
        background-color: #fff;
    }
    
    

    
    


    


